spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/calendardb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

logging:
  level:
    org.springframework.web: INFO
    org.hibernate: WARN

