spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/calendardb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

  security:
    user:
      name: user
      password: 
      roles: USER

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.web: DEBUG

